<!-----------------------BODY ------------------------>

<!-- Tabs -->
<div class="service-section">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs service-tab" role="tablist">
                <li role="presentation" class="active">
                    <a href="#traits" role="tab" data-toggle="tab">
                        <h3>TRAITS</h3>
                        <p><img src="../images/person.png"></p>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#feats" role="tab" data-toggle="tab">
                        <h3>FEATS</h3>
                        <p><img src="../images/trophy.png"></p>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#skills" role="tab" data-toggle="tab">
                        <h3>SKILLS</h3>
                        <p><img src="../images/anvil.png"></p>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#items" role="tab" data-toggle="tab">
                        <h3>ITEMS</h3>
                        <p><img src="../images/sword.png"></p>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#spells" role="tab" data-toggle="tab">
                        <h3>SPELLS</h3>
                        <p><img src="../images/magic.png"></p>
                    </a>
                <li role="presentation">
                    <a href="#charSheet" role="tab" data-toggle="tab">
                        <h3>Overview</h3>
                        <p><img src="../images/heart.png"></p>
                    </a>
                </li>
                </li>
            </ul>
        </div>



        <!-- Tab page content -->
        <container>
            <div class="tab-content service-tab-content">
                <div class="tab-pane active" id="traits">
                    <div class="col-sm-4">
                        <img src="./images/stats-image1.jpg" alt="" class="img-responsive tab-image-ex-gap"
                            style="padding: 20px;">
                    </div>
                    <div class="col-sm-8">
                        <br>
                        <h3>CHARACTER TRAITS</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, asperiores, sequi
                            inventore, mollitia facilis totam voluptas laudantium odio non delectus porro magnam
                            molestias dolore. Accusamus sint perspiciatis quis iste dolorem! Lorem ipsum dolor, sit
                            amet consectetur adipisicing elit. Autem labore rem, officia, sed eius earum, aliquam
                            sequi corporis voluptas velit ex! Natus enim dicta fugiat velit dolorum, quos sint
                            totam.
                        </p>
                    </div>

                </div>
        </container>
        <div class="tab-pane" id="feats">
            {{!-- <div class="col-sm-4">
                <img src="./images/stats-image2.jpg" alt="" class="img-responsive tab-image-ex-gap"
                    style="padding: 20px;">
            </div> --}}
            <div class="col-sm-12">
                <br>
                <h3 style="text-align: center;">CHARACTER FEATS</h3>
                {{!-- <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button class="featBtn greenButton" style="margin: 20px;">Add New Feat</button>
                <br> --}}
                <br>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h3>Known</h3>

                    <select id="feats1" multiple>
                        {{#each char.knownFeats}}
                        <option value="{{featName}}">{{featName}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <input type="button" id="left" value="<" />
                    <input type="button" id="right" value=">" />
                </div>
                <div class="col-sm-3">
                    <h3>Available</h3>
                    <select id="feats2" multiple>
                        {{#each feats}}
                        {{#unless (isKnown name charId)}}
                        <option value="{{name}}">{{name}}</option>
                        {{/unless}}
                        {{/each}}
                    </select>
                </div>
                <br>
                <div class="col-sm-4">
                    <h3 id="featDisplayName"></h3>
                    <div id="featDisplay"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="skills">
            <div class="col-sm-4">
                <img src="./images/stats-image3.jpg" alt="" class="img-responsive tab-image-ex-gap"
                    style="padding: 20px;">
            </div>
            <div class="col-sm-8">
                <br>
                <h3>CHARACTER SKILLS</h3>
                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button class="skillBtn greenButton" style="margin: 20px;">Add New Skill</button>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, asperiores, sequi
                    inventore, mollitia facilis totam voluptas laudantium odio non delectus porro magnam
                    molestias dolore. Accusamus sint perspiciatis quis iste dolorem! Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Autem labore rem, officia, sed eius earum, aliquam sequi
                    corporis voluptas velit ex! Natus enim dicta fugiat velit dolorum, quos sint totam.
                </p>
            </div>
        </div>
        <div class="tab-pane" id="items">
            <div class="col-sm-6">
                <h1>Current Items:</h1>
                <div class="createdNotes">
                </div>


            </div>
            <div class="col-sm-6">
                <br>
                <h3>CHARACTER ITEMS</h3>

                <div class="noteContainer">

                    <button class="createButton greenButton">Add New Item</button>

                    <div class="noteCreator hide">
                        <input class="noteTitle" type="text" placeholder="Item Name" />
                        <textarea class="noteBody" placeholder="Description"></textarea>

                        <button class="saveButton  greenButton">Save</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="spells">
            <div class="col-sm-6">
                <h1>Current Spells:</h1>
                <div class="createdNotesSpell"></div>


            </div>
            <div class="col-sm-6">
                <br>
                <h3>CHARACTER SPELLS</h3>

                <div class="noteContainerSpell">

                    <button class="createButtonSpell greenButton">Add New Spell</button>

                    <div class="noteCreatorSpell hide">
                        <input class="noteTitleSpell" type="text" placeholder="Spell Name" />
                        <textarea class="noteBodySpell" placeholder="Description"></textarea>

                        <button class="saveButtonSpell  greenButton">Save</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="charSheet">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <br>
                    <h3>CHARACTER SHEET</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <label for="#charName">Name</label>
                    <input type="text" id="charName" placeholder="Character Name" value={{char.descriptive.name}} />
                    <br>
                    <label for="charAlignment">Alignment</label>
                    <input type="text" id="charAlignment" placeholder="LG" value={{char.descriptive.alignment}}
                        maxlength="2" style="width: 30px" />
                    <label for="charHeight">Height</label>
                    <input type="text" id="charHeight" placeholder="5'10&quot;"
                        value="{{char.descriptive.height}}&quot;" maxlength="10" style="width: 50px" />
                    <label for="charWeight">Weight</label>
                    <input type="text" id="charWeight" placeholder="150lb" value={{char.descriptive.weight}}
                        maxlength="6" style="width: 50px" />
                    <label for="charHair">Hair</label>
                    <input type="text" id="charHair" placeholder="Black" value={{char.descriptive.hair}}
                        style="width: 60px" />
                    <label for="charEyes">Eyes</label>
                    <input type="text" id="charEyes" placeholder="Blue" value={{char.descriptive.eyes}}
                        style="width: 60px" />
                </div>
            </div>
            <div class="row">
                <br><br>
                <div class="col-sm-3 text-right">
                    <h3>Ability Scores</h3>
                    <p>Name Score Mod Temp</p>
                    {{> overview/ability-score-block score=char.scores.str.score value=char.scores.str.value temp=char.scores.str.temp}}
                    {{> overview/ability-score-block score=char.scores.dex.score value=char.scores.dex.value temp=char.scores.dex.temp}}
                    {{> overview/ability-score-block score=char.scores.con.score value=char.scores.con.value temp=char.scores.con.temp}}
                    {{> overview/ability-score-block score=char.scores.int.score value=char.scores.int.value temp=char.scores.int.temp}}
                    {{> overview/ability-score-block score=char.scores.wis.score value=char.scores.wis.value temp=char.scores.wis.temp}}
                    {{> overview/ability-score-block score=char.scores.cha.score value=char.scores.cha.value temp=char.scores.cha.temp}}
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="range-slider">
                            <h4>HP</h4>
                            <input class="range-slider__range" type="range" value="30" min="-{{char.scores.con.value}}"
                                max="{{char.hp}}">
                            <span class="range-slider__value">30</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="XP">Exp: </label>
                        <input type="number" value="{{char.exp}}" />
                    </div>
                    <div class="row">
                        <h4>Money:</h4>
                        {{> overview/money type="C" amount=char.money.c}}
                        {{> overview/money type="S" amount=char.money.s}}
                        {{> overview/money type="G" amount=char.money.g}}
                        {{> overview/money type="G" amount=char.money.p}}
                    </div>
                    <div class="row">
                        <br></br>
                        <h3>
                            Initiative: <input type="number"
                                value={{add (calcMod char.scores.dex.value char.scores.dex.temp) char.initTemp 0 0 0}}
                                style="width: 40px;" /> =
                            <input type="number" value={{calcMod char.scores.dex.value char.scores.dex.temp}}
                                style="width: 40px;" /> +
                            <input type="number" value={{char.initTemp}} style="width: 40px;" /></h3>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="row">
                        <h4>Race: {{char.raceName}}</h4>
                        <h4>Class: {{char.class.name}}</h4>
                        <h4>Level: <input type="text" id="level" placeholder="1" value={{char.level}}
                                style="width: 40px;" />
                        </h4>
                    </div>
                    <div class="row">
                        <h4>Speeds:</h4>
                        {{> overview/speeds type="Base"}}
                        {{> overview/speeds type="Armor"}}
                        {{> overview/speeds type="Fly"}}
                        {{> overview/speeds type="Swim"}}
                        {{> overview/speeds type="Climb"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 text-right">
                    <div class="row">
                        <h3>Armor Class:
                            <input type="number" name="total"
                                value={{add 10 char.ac.armor (calcMod char.scores.dex.value char.scores.dex.temp) char.ac.natural char.ac.misc}}
                                style="width: 60px;" />= 10 +
                            <input type="number" value={{char.ac.armor}} style="width: 60px;" /> +
                            <input type="number" value={{calcMod char.scores.dex.value char.scores.dex.temp}}
                                style="width: 60px;" />+
                            <input type="number" value={{char.ac.natural}} style="width: 60px;" /> +
                            <input type="number" value={{char.ac.misc}} style="width: 60px;" />

                            <!-- Figure out how to label those input boxes in a way that looks nice 
                            My idea for layout is:
                            AC:  ___ = 10 + ___ + ___ + ___ + ___
                                Total      Armor  Dex Natural Misc
                            But I can't for the life of me figure out how to set it up like that in CSS-->
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 text-right">
                            <br><br>
                            <h3>Touch AC: <input type="number" name="total"
                                    value={{add 10 0 (calcMod char.scores.dex.value char.scores.dex.temp) char.ac.natural char.ac.misc}}
                                    style="width: 60px;" /></h3>
                            <h3>Flat-Footed AC: <input type="number" name="total"
                                    value={{add 10 char.ac.armor 0 char.ac.natural char.ac.misc}}
                                    style="width: 60px;" /></h3>
                        </div>

                        <!-- Total = Base + Ability Mod + Misc-->
                        <div class="col-sm-4 text-right">
                            <h2>Saving Throws: </h2>
                            <h4>Fortitude:
                                <input type="number"
                                    value={{add char.saves.fort.base (calcMod char.scores.con.value char.scores.con.temp) char.saves.fort.temp 0 0}}
                                    style="width: 50px;" /> =
                                <input type="number" value={{char.saves.fort.base}} style="width: 50px;" /> +
                                <input type="number" value={{calcMod char.scores.con.value char.scores.con.temp}}
                                    style="width: 50px;" /> +
                                <input type="number" value={{char.saves.fort.temp}} style="width: 50px;" /></h4>
                            <h4>Reflex:
                                <input type="number"
                                    value={{add char.saves.ref.base (calcMod char.scores.dex.value char.scores.dex.temp) char.saves.ref.temp 0 0}}
                                    style="width: 50px;" /> =
                                <input type="number" value={{char.saves.ref.base}} style="width: 50px;" /> +
                                <input type="number" value={{calcMod char.scores.dex.value char.scores.dex.temp}}
                                    style="width: 50px;" /> +
                                <input type="number" value={{char.saves.ref.temp}} style="width: 50px;" /></h4>
                            <h4>Will:
                                <input type="number"
                                    value={{add char.saves.will.base (calcMod char.scores.wis.value char.scores.wis.temp) char.saves.will.temp 0 0}}
                                    style="width: 50px;" /> =
                                <input type="number" value={{char.saves.will.base}} style="width: 50px;" /> +
                                <input type="number" value={{calcMod char.scores.wis.value char.scores.wis.temp}}
                                    style="width: 50px;" /> +
                                <input type="number" value={{char.saves.will.temp}} style="width: 50px;" /></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h3>Base Attack Bonus: <input type="number" value={{char.bab}} style="width: 50px;" /></h3>
                            <h3>Spell Resistance: <input type="text" value={{char.spRes}} style="width: 50px;" /></h3>
                        </div>
                        <div class="col-sm-4 text-left">
                            <!-- Total = Base Attack Bonus(BaB) + Str Mod -->
                            <h4>CMB:
                                <input type="number"
                                    value={{add char.bab (calcMod char.scores.str.value char.scores.str.temp) 0 0 0}}
                                    style="width: 50px;" /> =
                                <input type="number" value={{char.bab}} style="width: 50px;" /> +
                                <input type="number" value={{calcMod char.scores.str.value char.scores.str.temp}}
                                    style="width: 50px;" />
                                <!-- Total = Base Attack Bonus(BaB) + Str Mod + Dex Mod + 10 -->
                                <h4>CMD:
                                    <input type="number"
                                        value={{add char.bab (calcMod char.scores.str.value char.scores.str.temp) (calcMod char.scores.dex.value char.scores.dex.temp) 10 0}}
                                        style="width: 50px;" /> =
                                    <input type="number" value={{char.bab}} style="width: 50px;" /> +
                                    <input type="number" value={{calcMod char.scores.str.value char.scores.str.temp}}
                                        style="width: 50px;" /> +
                                    <input type="number" value={{calcMod char.scores.dex.value char.scores.dex.temp}}
                                        style="width: 50px;" />+ 10</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="row">
                        <h4>Languages:</h4>
                        <select id="languageBlock" multiple="multiple">
                            {{#each char.languages}}
                            <option value="{{@index}}" style="width: 100px;">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row">
                        <h4>Notes: </h4>
                        <textarea id="notes" placeholder="notes" style="height: 100px;">{{char.notes}}</textarea>
                    </div>
                </div>


<div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Melee:</h3>
                        <input class="form-control" type="text" id="weaponName" placeholder="weapon name">
                        <input class="form-control" type="number" id="attackBonus" placeholder="attack bonus">
                        <input class="form-control" type="number" id="damage" placeholder="damage">
                        <input class="form-control" type="number" id="critical" placeholder="critical">
                        <input class="form-control" type="text" id="type" placeholder="type">
                        <br>
                        <button class="saveButton  greenButton">Add Melee</button>
                    </div>

                    <div class="col-sm-6">
                        <h3>Ranged:</h3>
                        <input class="form-control" type="text" id="weaponName" placeholder="weapon name">
                        <input class="form-control" type="number" id="attackBonus" placeholder="attack bonus">
                        <input class="form-control" type="number" id="damage" placeholder="damage">
                        <input class="form-control" type="number" id="critical" placeholder="critical">
                        <input class="form-control" type="text" id="type" placeholder="type">
                        <input class="form-control" type="text" id="ammo" placeholder="ammo">
                        <br>
                        <button class="saveButton  greenButton">Add Ranged</button>
                    </div>

                </div>
                </div>




            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>

</div>

<script src="../scripts/script.js"></script>